{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<div class="d-flex flex-column gap-3">
    
    <div class="d-flex gap-3 align-items-center">
        <h1>Последние вопросы</h1>
        <a class="btn btn-primary" href="{% url 'hot' %}" style="align-content: center;" role="button">Популярные вопросы</a>
    </div>

    <div class = "col-9">
        {% with questions=page.object_list.all %}
        {% for question in questions %}
            {% include 'layouts/one_question.html' %}
        {% endfor %}
        {% endwith %}
        
        {% include 'layouts/pagination.html' %}

    </div>

</div>

{% endblock %}